@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: white;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #0f172a;
}
* {
  cursor: none !important;
}
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}
