@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: white;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #0f172a;
}
* {
  cursor: none !important;
}
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
