@import "@fontsource/inter";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  background: rgb(27, 27, 54);
  color: #fff;
}
/* .container {
  max-width: 1100px;
  margin: 0 auto;
} */
.navbar {
  position: sticky;
  top: 10px;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
}
.navbar-content {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(28, 43, 79, 0.8);
  text-align: center;
  align-items: center;
  color: #fff;
  border-radius: 50px;
  margin: 0.3rem 1rem 0 1rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-list {
  display: flex;
  height: 50px;
  /* width: 30%; */

  width: 100%;
  align-items: center;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  justify-content: space-around;
}
.navbar-item a {
  list-style: none;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-items: center;
  margin: 0 auto;
  align-items: center;
}
.about {
  padding: 5rem;
  margin: 0 auto;
  border-top: 1px solid #c8cbd0;
}
.projects {
  max-width: 800px;
  border-top: 1px solid #c8cbd0;
  margin: 0 auto;

  padding-bottom: 6.9rem;
}
.icon-link:hover {
  scale: 1.2;
}
.project-center {
  display: grid;
  justify-content: center;
  place-content: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
/* 
.project-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.project-card img {
  width: 400px;
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
  object-fit: contain;
} */

.project-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  justify-content: center;

  align-items: center;
  margin-top: 2rem;
  background: #fff;
  border-radius: 10px;
}
.project-card img {
  width: 350px;
  max-width: 350px;
  max-height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 8px;
  object-fit: fill;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card__img img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
  text-align: center;
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}

.about-us {
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  overflow: hidden;

  transition: all 0.5s;
}

.product-img {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.381);
  width: 100%;
}

.about-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3.2rem;
  color: #222;
}

.about-description {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.card-content {
  text-align: center;
  color: #000;
  background-color: #fff;
  line-height: 1.5rem;
  border-radius: 10px;
  padding: 5px;
}

.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.Skills {
  margin: 4rem auto;
  /* max-width: 800px; */
  border-top: 1px solid #c8cbd0;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.skill-list li {
  list-style: none;
}
.skill-item {
  display: flex;
  padding: 10px;
}
.fa-brands {
  font-size: 2rem;
}
.links a {
  color: white;
}
@media screen and (max-width: 600px) {
  .project-card img {
    width: 300px;
    max-width: 200px;
    max-height: 4%;
    /* margin-right: 2rem; */
    border-radius: 10px;
  }

  .about {
    text-align: start;
  }

  .about p {
    font-size: 12px;
    text-align: start;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    background: #fff;
    border-radius: 10px;
  }
  .projects {
    max-width: 300px;
    margin: 0 auto;
  }
  .Skills {
    margin: 2rem auto;
    max-width: 400px;
  }
  .skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-name {
  animation: fadeIn 1.5s ease-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-icon {
  animation: bounce 1.5s ease infinite;
  animation-delay: 0.3s;
}
